<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="default-src *;
      img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
      style-src  'self' 'unsafe-inline' *"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='shortcut icon' type='image/x-icon' href='./img/svg/cuntato.svg' />
    <title>Project | <%= user.projectName %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"    
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Google+Sans"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css"
    />
    <link 
      rel="stylesheet" 
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" 
    />
    <link 
      rel="stylesheet" 
      href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css" 
    />
    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/loader.css" />
    <style>
      main{
        display:none
      }
    </style>
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="white z-depth-1">
          <div class="nav-wrapper">
            <a href="/dashboard" class="brand-logo">Cuntato</a>
            <ul id="nav-mobile" class="right">
              <li>
                <img
                  src=<%= user.picture %>
                  alt="avatar"
                  id="avatar"
                  class="responsive-img circle dropdown-trigger"
                  data-target="dropdown1"
                />
              </li>
            </ul>
            <ul id="dropdown1" class="dropdown-content">
              <li><a href="/profile"><%= user.name %></a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li class="divider" tabindex="-1"></li>
              <li><a href="/logout">Sign Out</a></li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- PRELOADER -->
      <div class="circle-loader">
        <div class="loader-container">
          <div class="ball"></div>
          <div class="ball"></div>
          <div class="ball"></div>
          <div class="ball"></div>
        </div>
      </div>
    </header>

    <main>
      <span id=<%= user.projectToken %> ></span>
      <div class="fixed-action-btn">
        <a
          href="#question"
          class="btn-floating modal-trigger btn-large blue darken-4 pulse"
        >
          <i class="large material-icons">help</i>
        </a>
      </div>
      <div class="small-div"></div>

      <div class="center-align white-text project-banner">
        <span>Project name</span>
        <h3 class="white-text"><%= user.projectName %></h3>
      </div>

      <div class="container">
        <div class="row">
          <div class="col s12">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a href="#setup">Setup</a></li>
              <li class="tab">
                <a class="active" href="#message">Message</a>
              </li>
            </ul>
          </div>

          <div class="col s12" id="setup">
            <div class="row">
              <div class="input-field col s12 m8 l6">
                <input
                  autocomplete="off"
                  id="domain"
                  type="text"
                  pattern="^(?:http(s)?:\/\/)?[\w.-]+(?:\.[\w\.-]+)+[\w\-\._~:/?#[\]@!\$&'\(\)\*\+,;=.]+$"
                  class="validate"
                  validate
                />
                <span
                  class="helper-text"
                  data-error="Invalid url"
                  data-success="Valid url"
                  >Make sure to add valid url</span
                >
                <div class="row">
                  <div class="col s12">
                    <a href="#check" class="btn modal-trigger">Edit domain</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <ul class="collapsible rounded">
                  <li class="active">
                    <div class="collapsible-header rounded">
                      <i class="material-icons">expand_more</i>Your project
                      related code
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col s12">
                          <h5>HTML</h5>
                          <code id="html">
                            <div id="codeHTML1"></div>
                            <div id="codeHTML2"></div>
                            <div id="codeHTML3"></div>
                            <div id="codeHTML4"></div>
                          </code>
                        </div>
                        <div class="col s12">
                          <div class="row">
                            <div class="col s12">
                              <h5 class="left">Script</h5>
                              <a id="code-copy-btn"><i 
                                  class="material-icons right black-text copy"
                                  >content_copy</i
                                ></a
                              >
                            </div>
                          </div>
                          <code id="jquery">
                           
                          </code>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <h6 class="blue-text"><b>N.B.</b>: If you want you can also POST your data to API using pure JavaScript, Axios or any other medium you like. </h6>
              </div>
            </div>
          </div>

          <div class="col s12" id="message">
            <div class="card rounded">
              <div class="card-content">
                <!-- IF MESSAGE FOUND THEN RENDER BELOW SECTION -->
                <div id="proTableID"></div>
                <!-- IF MESSAGE NOT FOUND THEN RENDER BELOW SECTION -->
                <div id="nothingData"></div>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <div id="question" class="modal">
        <div class="modal-content">
          <h4 class="center">How to setup</h4>
          <ul>
            <li class="red-text text-darken-2">
              * To setup your project go to setup tab.
            </li>
            <li class="red-text text-darken-2">
              * In the domain field you'll see your provided domain name where
              you wanted to host your site. You can change domain name if you
              change your hosting site to another domain. Please keep in mind
              your provided domain name should be matched with the hosting
              domain.
            </li>
            <li class="red-text text-darken-2">
              * You'll be provided demo <code>HTML</code> and
              <code>jQuery</code> code to get started. You can't have more than
              three fields in your contact form.
            </li>
            <li class="red-text text-darken-2">
              * Place the <code>jQuery</code> code after jQuery CDN. You can
              change <b>name</b>, <b>email</b>, <b>message</b> field's id if you
              want. But make sure your input field's id match in
              <code>HTML</code> and <code>jQuery</code>.
            </li>
            <li class="red-text text-darken-2">
              * In done() & fail() methods you can insert any toast or alert
              item if you want.
            </li>
          </ul>
        </div>
      </div>

      <div id="check" class="modal">
        <div class="modal-content center-align">
          <h5 class="red-text text-lighten-1">
            Your domain name will be changed. Are you sure?
          </h5>
          <div class="domain-name-changed-btn">
            <a id="yesChange" class="btn domain-change">Yes, change</a>
            <a id="noChange" class="btn domain-not-change">Cancel</a>
          </div>
        </div>
      </div>
  
      <img src="./img/blob.svg" alt="blob" class="blob" />
    </main>

    <!-- jQuery cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Materialize js cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="./js/app.js"></script>
    <!-- File download cdn -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="./js/projectController.js"></script>
  </body>
</html>
